html {
    font-family: 'Raleway', sans-serif;
    /*"Julius Sans One", sans-serif; 'Poiret One', cursive;*/
}

body {
    font-family: 'Raleway', sans-serif;
    /*"Julius Sans One", sans-serif; 'Poiret One', cursive;*/
    color: #262626;
}

.wrap {
    margin: 3em auto 0 auto;
    max-width: 1024px;
    width: 100%;
}

nav a {
    color: #262626;
    transition: color 300ms ease-in-out;
}

nav a:hover {
    color: #868686;
    transition: color 300ms ease-in-out;
}

img {
    /*display: table-column; */
    max-width: 100%;
}

[role="banner"] h1 {
    margin: 0;
    align-content: center;
}

h1 {
    align-content: center;
    color: black;
}

nav ul,
.portfolio-list,
[role="contentinfo"] ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.portfolio-list li {
    position: relative;
    margin-bottom: 1em;
}

.portfolio-list img {
    vertical-align: bottom;
}

.portfolio-list h2 {
    background-color: rgba(0, 0, 0, 0.7);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: 0;
    color: #fff;
    font-size: 1em;
    font-weight: normal;
    left: 2em;
    margin: 0;
    padding: 4px 6px 4px 6px;
    position: absolute;
    z-index: 100;
}

a:hover img {
    filter: grayscale(100%);
    transition: color 300ms ease-in-out;
}

.wedding-website {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.My-CV-Design {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.Icon-Design {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.Tshirt-Design {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

.Yearbook-Design {
    border: 1px solid rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
}

[role="contentinfo"] {
    background-color: #262626;
    box-sizing: border-box;
    color: #fff;
    padding: .5rem;
}

[role="contentinfo"] p:first-of-type {
    margin-top: 0;
}

[role="contentinfo"] li {
    display: inline-block;
    margin: 0 6px 1em 0;
}

[role="contentinfo"] a {
    color: #fff;
}

[role="contentinfo"] a:hover {
    color: #868686;
    transition: color 300ms ease-in-out;
}

.col-10.right-column {
    padding-bottom: 0;
}

.case-study-thumbs {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.case-study-thumbs li:nth-child(odd) {
    padding-left: 0;
}

.case-study-thumbs li:nth-child(even) {
    padding-right: 0;
}

.case-study-thumbs .col-06:last-of-type {
    padding-bottom: 1rem;
}

.picture-title {
    background-color: black;
    padding: 1.8px;
    color: white;
    text-align: center;
}

.resume-border {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-color: lightgrey;
}

.cv-title {
    background-color: burlywood;
    padding: 2.5px;
    color: white;
    text-align: center;
}

.logo-border {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-color: black;
}

.shape-border {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-color: darkgray;
}

.jack-border {
    border: 1px solid rgba(0, 0, 0, 0.7);
    border-color: black;
}

.jack-title {
    background-color: black;
    padding: 2.5px;
    color: white;
    text-align: center;
}
